.btn {
    cursor: pointer;
    font: inherit;
    border: none;
    height: 3rem;
    background-color: #0f299c;
    color: white;
    padding: 0.75rem 3rem;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 1rem;
    float: right;
}
button .dropdown-item{
    background-color: red;
}