.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #0d02a3;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.header h2 {
    float: right;
    margin-top: 1rem;
}

.main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}

.main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-4rem) translateX(-1rem);
}

.logo {
    margin-left: 10%;
}

.logo img {
    max-height: 6rem;
    max-width: 6rem;
}

.dropdown {
    margin-top: 0.5rem;
    margin-left: 30%;
}

.dropdown button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #0f299c;
    color: white;
    padding: 0.75rem 5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.dropdown button:hover {
    background-color: #1b82be;
}

.dropdown ul {
    background-color: transparent;
    border: none;
}

.cart {
    margin-left: auto;
    margin-right: 10%;
}